
table {
    border-collapse: collapse;
    width: 60%;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 8px;
    text-align: left;
}

thead tr {
    background-color: green;
}


.checkbox, .arrow {
    padding: 4px;
}

.arrow {
    margin: 0 4px;
}
button{
    margin: 2em;
}
